button {
    background: #333;
    border: 0;
    width: 55px;
    margin: 7px;
    height: 55px;
    border-radius: 50%;
    cursor: pointer;
    transition: all .3s ease-in-out;
    font-size: 24px;
    color: #fff;
    font-weight: 100;
    outline: 0;
}

button:hover {
	background: #555;
}

.operator {
	background: #d45a05;
}

.operator:hover {
	background: #ff6900;
}

.functions {
	background: #888;
	color: #000;
}
