.app-container {
	display: flex;
	justify-content: center;
	height: 100vh;
	align-items: center;
}

.calc-app {
	background: #000;
    width: 320px;
    height: 600px;
    border-radius: 30px;
    padding: 20px;
    position: relative;
}

.inputs {
	color: #fff;
    height: 170px;
    font-size: 82px;
    font-weight: 100;
    display: block;
    align-items: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-top: 25px;
    text-align: right;
}

.buttons {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.bottom {
	position: absolute;
    width: 100px;
    background: #fff;
    height: 4px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    border-radius: 100px;
}

.top-bar {
	display: flex;
    align-items: center;
    color: #fff;
    font-size: 12px;
    justify-content: space-between;
    padding: 0 10px;
}

.top-bar img {
	width: 50px;
}
